{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<div>

    <h1>Sign in:</h1>
    <form action="/login" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{form.username.label}}
            {{form.username()}} <br>

            {% for error in form.username.errors %}
            <span style="color: red">
                {{error}}
            </span>
            {% endfor %}
        </p>
        <p>
            {{form.password.label}}
            {{form.password()}} <br>
            {% for error in form.password.errors %}
            <span style="color: red">
                {{error}}
            </span>
            {% endfor %}
        </p>
        <p>{{form.submit()}}</p>
    </form>

</div>
{% endblock %}